@model Donut 

@if (@Model != null)
{

<h3 class="donut-link">@Model.Name</h3>
	<div class="row gx-5 p-4">
		<img alt="@Model.Name" src="@Model.ImageThumbnailUrl" class="img-fluid detail-img col-5"/> 
			<div class="col-7">
				<h4>@Model.ShortDescription</h4>
				<p>@Model.LongDescription</p>
				<p class="donut-price">@Model.Price.ToString("c")</p>
		
				<div class="addToCart">
					<p class="button"></p>
				</div>
			</div>
	</div>
}


