@model DonutListViewModel 

@if(Model.Donuts != null)
{
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 px-3">

		@foreach(var donut in Model.Donuts)
	{
		<div class="col-md-4">
			<div class="card h-100">
			<img src="@donut.ImageThumbnailUrl" class="donut-thumbnail" alt="@donut.Name">
				<div class="card-body donut-button">
				<p class="d-grid long-description">@donut.LongDescription</p>
					
					<div class="d-flex justify-content-between mt-2">
						<h2 class="text-start">
							<a class="donut-link">@donut.Name</a>
						</h2>

						<h5 class="text-nowrap donut-price">
							@donut.Price.ToString("c")
						</h5>
					</div>
				</div>
			</div>
		</div>
	}

</div>
}





